{% extends 'base.html.twig' %}
{% block head %}
  <title>Repère Hub – Comparatifs & Bons Plans Jouets et Jeux</title>

  <meta name="description" content="Explorez tous nos articles thématiques sur les jouets, jeux de société, franchises, idées cadeaux, et bons plans. Trouvez l’inspiration selon vos envies." />

  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="articles jouets, franchises enfants, idées cadeaux, bons plans, guides jouets, comparatifs, Repère Hub" />

  <link rel="canonical" href="https://reperehub.com/articles" />
{% endblock %}

{% block javascripts %}
	<script type="application/ld+json">
		{
							  "@context": "https://schema.org",
							  "@type": "WebPage",
							  "name": "Sélection complète de jouets, jeux de société, gaming, jeux éducatifs et livres pour enfants",
							  "mainEntity": {
							    "@type": "Product",
							    "name": "Jouets, jeux de société, jeux éducatifs, produits gaming et livres jeunesse pour toute la famille",
							    "image": "https://reperehub.com/images/logo_reperehub.webp",
							    "description": "Explorez notre large gamme de produits : jouets variés, jeux de société, consoles et accessoires gaming, jeux éducatifs, jeux en plein air et livres pour enfants, pour tous les âges et tous les goûts.",
							    "offers": {
							      "@type": "AggregateOffer",
							      "offerCount":
		{{ offerCount|default(0) }},
							      "lowPrice":
		{{ lowPrice|default(0) }},
							      "highPrice":
		{{ highPrice|default(0) }},
							      "priceCurrency": "EUR"
							    }
							  },
							  "description": "Trouvez facilement les meilleurs produits pour enfants et familles : jouets, jeux, accessoires gaming et livres, avec des sélections régulièrement mises à jour."
							}
	</script>
{% endblock %}

{% block title %}
	Repère Hub – Comparatifs & Bons Plans Jouets et Jeux
{% endblock %}
{% block
stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}"/>
{% endblock %}
{% block body %}


	<main class="main">
		<section class="section section--top-ventes">
			<h1 class="main__title">Articles</h1>

			<ul class="section__list">
				{% for article in articles %}
					<li class="section__item">
						<a href="{{ article.getLien() }}">
							<h3 class="section__item-title">{{ article.getNom() }}</h3>

							<div class="section__item-content">
								<img src="{{ article.getImage() }}" alt="{{ article.getNom() }}" class="section__item-image"/>
								<div class="section__item-details">
									<p class="section__item-description">
										{{ article.getDescription() }}
									</p>

									<p class="section__item-description">
										Mise à jour :
										{{ article.getDate()|date('d/m/Y') }}
									</p>
								</div>
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>

		</section>

		<section class="section section--promotions main__header">
			<h2 class="section__title" style="text-align: center;">Découvrez d'autres catégories</h2>

			<ul class="categories">
				{% for categorie in categories %}
					<li class="categories__item" style="background-image: url('{{ categorie.getImage() }}');">
						{% if categorie.getSlug() == 'gaming' %}
							<a href="{{ path('categorie_gaming', {slug: categorie.getSlug()}) }}" class="categories__link">
							{% elseif categorie.getSlug() == 'jouets' %}
								<a href="{{ path('categorie_jouets', {slug: categorie.getSlug()}) }}" class="categories__link">
								{% else %}
									<a href="{{ path('categorie_autres', {slug: categorie.getSlug()}) }}" class="categories__link">
									{% endif %}
									<strong>{{ categorie.getNom() }}</strong>
								</a>
							</li>
						{% endfor %}
					</li>
				</ul>
			</section>

			<p class="main__intro-text" style="text-align: center;">Dernière mise à jour : 28 juillet</p>

		</main>
	{% endblock %}
