{% extends 'base.html.twig' %} 
{% block head %}
<meta name="description" content="Découvrez les top ventes de jouets et jeux de société, les articles les plus appréciés et recommandés par les familles. Faites votre choix parmi les incontournables du moment !" />
{% endblock %}

{% block title %} Top Ventes Jouets & Jeux : Les Indispensables | Repère Hub {% endblock %} {% block
    stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/categories.css') }}" />
    {% endblock %}  {% block body %}
    <main class="category-page">
      <h1 class="category-page__title">Top Ventes Jouets & Jeux : Les Indispensables</h1>
    
      <section class="intro">
        <h2 class="intro__title">Jouets et jeux pour tous</h2>
        <p class="intro__text">
            Découvrez une sélection variée de <strong class="intro__text--highlight">jouets et jeux tendance</strong>, incluant des jeux de société, des activités éducatives et des jeux en plein air. Ces produits populaires sont appréciés pour leur capacité à divertir tout en favorisant l’apprentissage et les moments partagés.
        </p>
    
        <h2 class="intro__title">Accessoires gaming et lectures captivantes</h2>
        <p class="intro__text">
            Retrouvez des idées incontournables pour les passionnés de <strong class="intro__text--highlight">gaming</strong>, avec des accessoires adaptés à tous les joueurs. Côté lecture, explorez des <strong class="intro__text--highlight">livres appréciés</strong>, des bandes dessinées ou des magazines qui promettent des instants de détente et de découverte.
        </p>
    
        <h2 class="intro__title">Produits en promotion et tendances</h2>
        <p class="intro__text">
            Parcourez une sélection de <strong class="intro__text--highlight">produits en promotion</strong> et d’articles en vogue. Ces choix populaires permettent de trouver des idées intéressantes pour toutes les occasions, tout en maîtrisant son budget.
        </p>
    </section>

    <section class="products-section">
        <h2 class="products-section__title">Jouets</h2>
        <p class="products-section__description">
            Découvrez une sélection de <strong>jouets captivants</strong> conçus pour éveiller l’imagination des enfants. Ces produits, variés et ludiques, encouragent la créativité et le <strong>développement</strong> des plus jeunes, tout en offrant des moments de jeu inoubliables. Que ce soit pour un cadeau ou une activité quotidienne, ces jouets sauront séduire petits et grands.
        </p>
        <ul class="products">
            {% for produit in produitsParCategorie['Jouets'] %}
            <li class="products__item">
                <div class="products__icons">
                    {% for tag in produit.getTag() %}
                        {% if tag.getNom() == 'Choix Amazon' %}
                        <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                        {% elseif tag.getNom() == 'Top Ventes' %}
                        <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                        {% elseif tag.getNom() == 'Promo' %}
                        <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <img 
                    src="{{ produit.getImage() }}"
                    alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" 
                    class="products__image" 
                >
                
                <h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
                <p class="products__description">
                    {{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}
                </p>
                
                <div class="products__pricing">
                    {% if produit.getPromo() %}
                    <p class="products__promo">-{{ produit.getPromo() }}%</p>
                    {% endif %}
                    <p class="products__price">{{ produit.getPrix() }}€</p>
                </div>
                
                <a href="{{ produit.getLien() }}" class="products__link">
                    Voir l'offre 
                    <i class="ri-amazon-fill products__amazon-logo"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="products-section products-section--2">
        <h2 class="products-section__title products-section--2__title">Jeux de société</h2>
        <p class="products-section__description products-section--2__description">
            Profitez de <strong>jeux de société incontournables</strong> pour des soirées conviviales en famille ou entre amis. Ces jeux, adaptés à toutes les <strong>générations</strong>, renforcent les liens sociaux tout en garantissant des moments de divertissement et de compétition amicale. Ils offrent une expérience unique, idéale pour se retrouver et partager.
        </p>
        <ul class="products">
            {% for produit in produitsParCategorie['Jeux de société'] %}
            <li class="products__item">
                <div class="products__icons">
                    {% for tag in produit.getTag() %}
                        {% if tag.getNom() == 'Choix Amazon' %}
                        <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                        {% elseif tag.getNom() == 'Top Ventes' %}
                        <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                        {% elseif tag.getNom() == 'Promo' %}
                        <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <img 
                    src="{{ produit.getImage() }}"
                    alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" 
                    class="products__image" 
                >
                
                <h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
                <p class="products__description">
                    {{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}
                </p>
                
                <div class="products__pricing">
                    {% if produit.getPromo() %}
                    <p class="products__promo">-{{ produit.getPromo() }}%</p>
                    {% endif %}
                    <p class="products__price">{{ produit.getPrix() }}€</p>
                </div>
                
                <a href="{{ produit.getLien() }}" class="products__link">
                    Voir l'offre 
                    <i class="ri-amazon-fill products__amazon-logo"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="products-section">
        <h2 class="products-section__title">Gaming</h2>
        <p class="products-section__description">
            Plongez dans des <strong>aventures immersives</strong> grâce à une sélection de produits de <strong>gaming</strong> qui raviront les passionnés de jeux vidéo. Des accessoires aux incontournables du moment, ces produits permettent de vivre une expérience ludique et technologique de qualité, pour débutants comme pour experts.
        </p>
        <ul class="products">
            {% for produit in produitsParCategorie['Gaming'] %}
            <li class="products__item">
                <div class="products__icons">
                    {% for tag in produit.getTag() %}
                        {% if tag.getNom() == 'Choix Amazon' %}
                        <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                        {% elseif tag.getNom() == 'Top Ventes' %}
                        <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                        {% elseif tag.getNom() == 'Promo' %}
                        <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <img 
                    src="{{ produit.getImage() }}"
                    alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" 
                    class="products__image" 
                >
                
                <h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
                <p class="products__description">
                    {{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}
                </p>
                
                <div class="products__pricing">
                    {% if produit.getPromo() %}
                    <p class="products__promo">-{{ produit.getPromo() }}%</p>
                    {% endif %}
                    <p class="products__price">{{ produit.getPrix() }}€</p>
                </div>
                
                <a href="{{ produit.getLien() }}" class="products__link">
                    Voir l'offre 
                    <i class="ri-amazon-fill products__amazon-logo"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="products-section products-section--2">
        <h2 class="products-section__title products-section--2__title">Jeux éducatifs</h2>
        <p class="products-section__description products-section--2__description">
            Stimulez la curiosité des enfants avec des <strong>jeux éducatifs</strong> qui allient <strong>apprentissage</strong> et divertissement. Conçus pour développer des compétences tout en s'amusant, ces jeux sont parfaits pour accompagner les enfants dans leur croissance, en mêlant plaisir et pédagogie.
        </p>
        <ul class="products">
            {% for produit in produitsParCategorie['Jeux éducatifs'] %}
            <li class="products__item">
                <div class="products__icons">
                    {% for tag in produit.getTag() %}
                        {% if tag.getNom() == 'Choix Amazon' %}
                        <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                        {% elseif tag.getNom() == 'Top Ventes' %}
                        <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                        {% elseif tag.getNom() == 'Promo' %}
                        <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <img 
                    src="{{ produit.getImage() }}"
                    alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" 
                    class="products__image" 
                >
                
                <h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
                <p class="products__description">
                    {{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}
                </p>
                
                <div class="products__pricing">
                    {% if produit.getPromo() %}
                    <p class="products__promo">-{{ produit.getPromo() }}%</p>
                    {% endif %}
                    <p class="products__price">{{ produit.getPrix() }}€</p>
                </div>
                
                <a href="{{ produit.getLien() }}" class="products__link">
                    Voir l'offre 
                    <i class="ri-amazon-fill products__amazon-logo"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="products-section">
        <h2 class="products-section__title">Jeux plein air</h2>
        <p class="products-section__description">
            Profitez du grand air avec des <strong>jeux de plein air</strong> qui mêlent <strong>plaisir</strong> et activités physiques. Idéaux pour des moments en extérieur, ces jeux permettent aux enfants comme aux adultes de bouger, s’amuser et partager des instants uniques sous le soleil ou dans le jardin.
        </p>
        <ul class="products">
            {% for produit in produitsParCategorie['Jeux plein air'] %}
            <li class="products__item">
                <div class="products__icons">
                    {% for tag in produit.getTag() %}
                        {% if tag.getNom() == 'Choix Amazon' %}
                        <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                        {% elseif tag.getNom() == 'Top Ventes' %}
                        <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                        {% elseif tag.getNom() == 'Promo' %}
                        <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <img 
                    src="{{ produit.getImage() }}"
                    alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" 
                    class="products__image" 
                >
                
                <h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
                <p class="products__description">
                    {{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}
                </p>
                
                <div class="products__pricing">
                    {% if produit.getPromo() %}
                    <p class="products__promo">-{{ produit.getPromo() }}%</p>
                    {% endif %}
                    <p class="products__price">{{ produit.getPrix() }}€</p>
                </div>
                
                <a href="{{ produit.getLien() }}" class="products__link">
                    Voir l'offre 
                    <i class="ri-amazon-fill products__amazon-logo"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="products-section products-section--2">
        <h2 class="products-section__title products-section--2__title">Livres</h2>
        <p class="products-section__description products-section--2__description">
            Explorez une sélection de <strong>livres captivants</strong> adaptés à tous les âges. Romans, bandes dessinées ou albums illustrés, ces ouvrages sont parfaits pour des moments de <strong>détente</strong> ou d'<strong>évasion</strong>. Qu’il s’agisse d’enrichir une bibliothèque ou de découvrir de nouvelles histoires, ces livres raviront tous les passionnés de lecture.
        </p>
        <ul class="products">
            {% for produit in produitsParCategorie['Livres'] %}
            <li class="products__item">
                <div class="products__icons">
                    {% for tag in produit.getTag() %}
                        {% if tag.getNom() == 'Choix Amazon' %}
                        <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                        {% elseif tag.getNom() == 'Top Ventes' %}
                        <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                        {% elseif tag.getNom() == 'Promo' %}
                        <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <img 
                    src="{{ produit.getImage() }}"
                    alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" 
                    class="products__image" 
                >
                
                <h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
                <p class="products__description">
                    {{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}
                </p>
                
                <div class="products__pricing">
                    {% if produit.getPromo() %}
                    <p class="products__promo">-{{ produit.getPromo() }}%</p>
                    {% endif %}
                    <p class="products__price">{{ produit.getPrix() }}€</p>
                </div>
                
                <a href="{{ produit.getLien() }}" class="products__link">
                    Voir l'offre 
                    <i class="ri-amazon-fill products__amazon-logo"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    

    </main>
    
    {% endblock %}
    