{% extends 'base.html.twig' %}
{% block head %}
<meta name="description" content="Profitez de jeux de plein air pour enfants : activités ludiques, sportives et créatives à partager en extérieur. Idéal pour des journées actives et amusantes." />
{% endblock %}

{% block title %} Repère Hub : Top des jeux plein air du moment {% endblock %} {% block
    stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/categories.css') }}" />
    {% endblock %}  {% block body %}
    <main class="category-page">
      <h1 class="category-page__title">Top des jeux plein air du moment</h1>
    
      <section class="intro">
        <h2 class="intro__title">Les jeux de plein air incontournables</h2>
        <p class="intro__text">
            Découvrez une sélection de 
            <strong class="intro__text--highlight">jeux de plein air qui séduisent petits et grands</strong>. 
            Ces articles, parfaits pour s'amuser en extérieur, favorisent le divertissement actif et la convivialité. Que ce soit pour le jardin, la plage ou le parc, 
            <strong class="intro__text--highlight">ces jeux sont idéaux pour profiter des beaux jours</strong> et passer de bons moments en famille ou entre amis.
        </p>
    
        <h2 class="intro__title">Les offres en promotion</h2>
        <p class="intro__text">
            Profitez de
            <strong class="intro__text--highlight">promotions sur des jeux de plein air</strong>
            pour faire plaisir tout en économisant. Découvrez une sélection variée, incluant des jeux de balles, des équipements sportifs ou des accessoires amusants, 
            parfaits pour s’amuser en extérieur sans se ruiner.
        </p>
    
        <h2 class="intro__title">Les meilleures ventes</h2>
        <p class="intro__text">
            Retrouvez les 
            <strong class="intro__text--highlight">jeux de plein air les plus appréciés</strong>
            par les familles. Ces produits populaires se distinguent par leur qualité et leur capacité à offrir des heures de plaisir en extérieur. Parcourez cette liste pour découvrir des 
            <strong class="intro__text--highlight">indispensables</strong> qui garantissent des moments de jeu inoubliables.
        </p>
    
        <h2 class="intro__title">Suggestions de jeux</h2>
        <p class="intro__text">
            Parmi les nombreuses options disponibles, certains jeux de plein air se démarquent par leur 
            <strong class="intro__text--highlight">simplicité</strong> ou leur 
            <strong class="intro__text--highlight">caractère ludique</strong>. Ces produits sont parfaits pour créer des souvenirs en extérieur et partager des moments de complicité. 
            Explorez une sélection de 
            <strong class="intro__text--highlight">jeux qui sauront plaire à tous</strong>.
        </p>
    </section>
    
    
      <section class="products-section">
        <h2 class="products-section__title">Jeux de plein air tendances</h2>
<p class="products-section__description">
    Découvrez les <strong>jeux de plein air tendances</strong>, parfaits pour s’amuser en extérieur et profiter du grand air. Ces <strong>produits populaires</strong> incluent des jeux sportifs, des accessoires amusants ou encore des équipements pour le jardin. Trouvez l’activité idéale pour rendre chaque moment en extérieur inoubliable !
</p>
        
    
        <ul class="products">
            {% for produit in produits %}
            <li class="products__item">
                <div class="products__icons">
                    {% for tag in produit.getTag() %}
                        {% if tag.getNom() == 'Choix Amazon' %}
                        <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                        {% elseif tag.getNom() == 'Top Ventes' %}
                        <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                        {% elseif tag.getNom() == 'Promo' %}
                        <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <img 
                    src={{ produit.getImage() }}
                    alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" 
                    class="products__image" 
                >
                
                <h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
                <p class="products__description">{{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}</p>
                
                <div class="products__pricing">
                    {% if produit.getPromo() %}
                    <p class="products__promo">-{{ produit.getPromo() }}%</p>
                    {% endif %}
                    <p class="products__price">{{ produit.getPrix() }}€</p>
                </div>
                
                <a href="{{ produit.getLien() }}" class="products__link">
                    Voir l'offre 
                    <i class="ri-amazon-fill products__amazon-logo"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="products-section products-section--2">
        <h2 class="products-section__title products-section--2__title">Bonnes affaires / Promotions</h2>
<p class="products-section__description products-section--2__description">
    Profitez des meilleures <strong>promotions sur les jeux de plein air</strong> pour partager des moments de divertissement en extérieur. Découvrez une sélection de <strong>produits en réduction</strong>, allant des équipements sportifs aux jeux pour le jardin. Ne manquez pas ces <strong>offres avantageuses</strong> pour allier plaisir et économies !
</p>

        
    
        <ul class="products">
            {% for promo in promos %}
            <li class="products__item">
                <div class="products__icons">
                    {% for tag in promo.getTag() %}
                        {% if tag.getNom() == 'Choix Amazon' %}
                        <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                        {% elseif tag.getNom() == 'Top Ventes' %}
                        <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                        {% elseif tag.getNom() == 'Promo' %}
                        <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <img 
                    src={{ promo.getImage() }}
                    alt="{{ promo.getNom()|length > 50 ? promo.getNom()|slice(0, 47) ~ '...' : promo.getNom() }}" 
                    class="products__image" 
                >
                
                <h3 class="products__title">{{ promo.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
                <p class="products__description">
                    {{ promo.getDescription()|slice(0, 150) ~ (promo.getDescription()|length > 150 ? '...' : '') }}
                </p>
                
                
                <div class="products__pricing">
                    {% if promo.getPromo() %}
                    <p class="products__promo">-{{ promo.getPromo() }}%</p>
                    {% endif %}
                    <p class="products__price">{{ promo.getPrix() }}€</p>
                </div>
                
                <a href="{{ promo.getLien() }}" class="products__link">
                    Voir l'offre 
                    <i class="ri-amazon-fill products__amazon-logo"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <section class="products-section">
        <h2 class="products-section__title">Jeux de plein air</h2>
        <p class="products-section__description">
            Découvrez une sélection de <strong>jeux de plein air</strong> pour profiter pleinement des activités en extérieur. Que ce soit pour le jardin, le parc ou la plage, ces <strong>produits populaires</strong> incluent des équipements sportifs, des jeux d'adresse et bien plus encore. Parfaits pour s'amuser et partager des moments inoubliables en plein air !
        </p>        
    
      <ul class="products">
          {% for produit in produits2 %}
          <li class="products__item">
              <div class="products__icons">
                  {% for tag in produit.getTag() %}
                      {% if tag.getNom() == 'Choix Amazon' %}
                      <i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
                      {% elseif tag.getNom() == 'Top Ventes' %}
                      <i class="ri-medal-fill products__icon products__icon--top-sales"></i>
                      {% elseif tag.getNom() == 'Promo' %}
                      <i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
                      {% endif %}
                  {% endfor %}
              </div>
    
              <img 
                  src={{ produit.getImage() }}
                  alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" 
                  class="products__image" 
              >
    
              <h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
              <p class="products__description">{{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}</p>
    
              <div class="products__pricing">
                  {% if produit.getPromo() %}
                  <p class="products__promo">-{{ produit.getPromo() }}%</p>
                  {% endif %}
                  <p class="products__price">{{ produit.getPrix() }}€</p>
              </div>
    
              <a href="{{ produit.getLien() }}" class="products__link">
                  Voir l'offre 
                  <i class="ri-amazon-fill products__amazon-logo"></i>
              </a>
          </li>
          {% endfor %}
      </ul>
    </section>

    </main>
    
    {% endblock %}
    