{% extends 'base.html.twig' %}
{% block head %}
	<meta name="description" content="Explorez notre sélection de jouets pour tous les âges : jouets éducatifs, figurines, peluches, jeux de construction et bien plus. Des idées pour tous les enfants !"/>
{% endblock %}

{% block javascripts %}
	 <script type="application/ld+json">
	            {
	                "@context": "https://schema.org",
	                "@type": "WebPage",
	                "name": "Sélection de jouets pour tous les âges - Jouets éducatifs, figurines, peluches, jeux de construction",
	                "mainEntity": {
	                    "@type": "Product",
	                    "name": "Jouets éducatifs, figurines, peluches et jeux de construction pour enfants",
	                    "image": "https://reperehub.com/images/logo_reperehub.webp",
	                    "description": "Découvrez notre collection variée de jouets adaptés à tous les âges : éducatifs, figurines, peluches et jeux de construction.",
	                    "offers": {
	                        "@type" : "AggregateOffer",
	                        "offerCount": {{ offerCount }},
	                        "lowPrice": {{ lowPrice }},
	                        "highPrice": {{ highPrice }},
	                        "priceCurrency": "EUR"
	                    }
	                    
	                },
	                "description": "Trouvez le jouet parfait pour chaque enfant grâce à notre sélection complète et régulièrement mise à jour."
	            }
	        </script>
{% endblock %}

{% block title %}
	Jouets : Sélections pour Tous les Âges | Repère Hub
{% endblock %}
{% block
stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/categories.css') }}"/>
{% endblock %}
{% block body %}
	<main class="category-page">
		<h1 class="category-page__title">Jouets : Sélections pour Tous les Âges</h1>

		<section class="intro">
			<h2 class="intro__title">Les jouets tendances</h2>
			<p class="intro__text">
				Découvrez une sélection de
				<strong class="intro__text--highlight">jouets qui font sensation cette année</strong>. Ces articles, plébiscités par les familles et les enfants, reflètent
					      les dernières tendances en matière de
				<strong class="intro__text--highlight">jeux et divertissements</strong>.
					      Que vous recherchiez des jouets créatifs, éducatifs ou simplement
					      amusants, vous trouverez des idées qui plaisent à tous les âges.
			</p>

			<h2 class="intro__title">Les offres en promotion</h2>
			<p class="intro__text">
				Bénéficiez d’offres intéressantes sur une
				<strong class="intro__text--highlight">variété de jouets en promotion</strong>. Ces réductions sont idéales pour faire plaisir sans dépasser votre
					      budget. Parcourez notre sélection pour trouver des
				<strong class="intro__text--highlight">articles attractifs à prix réduit</strong>, parfaits pour toutes les occasions.
			</p>

			<h2 class="intro__title">Les meilleures ventes</h2>
			<p class="intro__text">
				Retrouvez les
				<strong class="intro__text--highlight">jouets qui rencontrent le plus de succès</strong>
				auprès des familles. Ces produits populaires se distinguent par leur
				      qualité et leur intérêt auprès des enfants. Consultez cette liste pour
				      découvrir des
				<strong class="intro__text--highlight">valeurs sûres</strong>
				qui raviront
				      petits et grands.
			</p>

			<h2 class="intro__title">Nos coups de cœur</h2>
			<p class="intro__text">
				Parmi les nombreuses options disponibles, certains jouets se démarquent
				      par leur
				<strong class="intro__text--highlight">originalité</strong>
				ou
				      leur
				<strong class="intro__text--highlight">conception astucieuse</strong>. Ces
					      articles sont idéaux pour surprendre et offrir un cadeau mémorable.
					      Découvrez des
				<strong class="intro__text--highlight">jouets qui sortent de l’ordinaire</strong>
				et qui sauront marquer les esprits.
			</p>
		</section>

		<section class="products-section">
			<h2 class="products-section__title">Jouets tendances</h2>
			<p class="products-section__description">
				Découvrez les
				<strong>jouets tendances</strong>
				du moment, sélectionnés pour divertir et émerveiller les enfants de tous âges. Ces
				<strong>produits populaires</strong>
				peuvent inclure des jeux éducatifs, des figurines incontournables ou même des accessoires innovants. Trouvez le cadeau parfait parmi ces
				<strong>
					jouets incontournables</strong>, plébiscités par les parents et les enfants en 2024.
			</p>


			<ul class="products">
				{% for produit in produits %}
					<li class="products__item">
						<div class="products__icons">
							{% for tag in produit.getTag() %}
								{% if tag.getNom() == 'Choix Amazon' %}
									<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
								{% elseif tag.getNom() == 'Top Ventes' %}
									<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
								{% elseif tag.getNom() == 'Promo' %}
									<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
								{% endif %}
							{% endfor %}
						</div>

						<img src={{ produit.getImage() }} alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" class="products__image">

						<h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
						<p class="products__description">{{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}</p>

						<div class="products__pricing">
							{% if produit.getPromo() %}
								<p class="products__promo">-{{ produit.getPromo() }}
									%</p>
							{% endif %}
							<p class="products__price">{{ produit.getPrix() }}
								€</p>
						</div>

						<a href="{{ produit.getLien() }}" class="products__link">
							Voir l'offre
							<i class="ri-amazon-fill products__amazon-logo"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>

		<section class="products-section products-section--2">
			<h2 class="products-section__title products-section--2__title">Bonnes affaires / Promotions</h2>
			<p class="products-section__description products-section--2__description">
				Profitez des meilleures
				<strong>promotions sur les jouets</strong>
				pour faire plaisir à vos enfants tout en maîtrisant votre budget. Découvrez une sélection de
				<strong>produits en réduction</strong>, incluant des jeux éducatifs, des figurines et des accessoires à prix mini. Ne manquez pas ces
				<strong>offres exclusives</strong>
				pour économiser sur des jouets de qualité !
			</p>


			<ul class="products">
				{% for promo in promos %}
					<li class="products__item">
						<div class="products__icons">
							{% for tag in promo.getTag() %}
								{% if tag.getNom() == 'Choix Amazon' %}
									<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
								{% elseif tag.getNom() == 'Top Ventes' %}
									<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
								{% elseif tag.getNom() == 'Promo' %}
									<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
								{% endif %}
							{% endfor %}
						</div>

						<img src={{ promo.getImage() }} alt="{{ promo.getNom()|length > 50 ? promo.getNom()|slice(0, 47) ~ '...' : promo.getNom() }}" class="products__image">

						<h3 class="products__title">{{ promo.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
						<p class="products__description">
							{{ promo.getDescription()|slice(0, 150) ~ (promo.getDescription()|length > 150 ? '...' : '') }}
						</p>


						<div class="products__pricing">
							{% if promo.getPromo() %}
								<p class="products__promo">-{{ promo.getPromo() }}%</p>
							{% endif %}
							<p class="products__price">{{ promo.getPrix() }}€</p>
						</div>

						<a href="{{ promo.getLien() }}" class="products__link">
							Voir l'offre
							<i class="ri-amazon-fill products__amazon-logo"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>

		<section class="products-section">
			<h2 class="products-section__title">Jouets à moins de 20€</h2>
			<p class="products-section__description">
				Trouvez des
				<strong>jouets à moins de 20 euros</strong>
				pour faire plaisir sans vous ruiner. Notre sélection inclut des
				<strong>cadeaux abordables</strong>, idéaux pour toutes les occasions, comme des jeux éducatifs, des figurines ou des accessoires ludiques. Faites des
				<strong>économies</strong>
				tout en offrant des jouets qui feront le bonheur des petits et des grands !
			</p>


			<ul class="products">
				{% for produit in moinsDe20 %}
					<li class="products__item">
						<div class="products__icons">
							{% for tag in produit.getTag() %}
								{% if tag.getNom() == 'Choix Amazon' %}
									<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
								{% elseif tag.getNom() == 'Top Ventes' %}
									<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
								{% elseif tag.getNom() == 'Promo' %}
									<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
								{% endif %}
							{% endfor %}
						</div>

						<img src={{ produit.getImage() }} alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" class="products__image">

						<h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
						<p class="products__description">{{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}</p>

						<div class="products__pricing">
							{% if produit.getPromo() %}
								<p class="products__promo">-{{ produit.getPromo() }}
									%</p>
							{% endif %}
							<p class="products__price">{{ produit.getPrix() }}
								€</p>
						</div>

						<a href="{{ produit.getLien() }}" class="products__link">
							Voir l'offre
							<i class="ri-amazon-fill products__amazon-logo"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>

		<section class="products-section products-section--2">
			<h2 class="products-section__title products-section--2__title">Jouets à moins de 50€</h2>
			<p class="products-section__description products-section--2__description">
				Explorez notre sélection de
				<strong>jouets à moins de 50 euros</strong>, parfaits pour combiner
				<strong>qualité</strong>
				et
				<strong>prix raisonnable</strong>. Offrez des jeux captivants, des jouets créatifs et des accessoires originaux, adaptés à tous les âges. Trouvez le cadeau idéal sans dépasser votre budget !
			</p>


			<ul class="products">
				{% for produit in moinsDe50 %}
					<li class="products__item">
						<div class="products__icons">
							{% for tag in produit.getTag() %}
								{% if tag.getNom() == 'Choix Amazon' %}
									<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
								{% elseif tag.getNom() == 'Top Ventes' %}
									<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
								{% elseif tag.getNom() == 'Promo' %}
									<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
								{% endif %}
							{% endfor %}
						</div>

						<img src={{ produit.getImage() }} alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" class="products__image">

						<h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
						<p class="products__description">{{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}</p>

						<div class="products__pricing">
							{% if produit.getPromo() %}
								<p class="products__promo">-{{ produit.getPromo() }}
									%</p>
							{% endif %}
							<p class="products__price">{{ produit.getPrix() }}
								€</p>
						</div>

						<a href="{{ produit.getLien() }}" class="products__link">
							Voir l'offre
							<i class="ri-amazon-fill products__amazon-logo"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>

		<section class="products-section">
			<h2 class="products-section__title">Jouets à moins de 100€</h2>
			<p class="products-section__description">
				Découvrez notre collection de
				<strong>jouets à moins de 100 euros</strong>, idéale pour faire plaisir avec des cadeaux de grande qualité. Profitez d'une gamme variée de jeux éducatifs, de jouets interactifs et d'ensembles créatifs qui raviront petits et grands. Trouvez l'inspiration pour un cadeau mémorable sans dépasser votre budget !
			</p>


			<ul class="products">
				{% for produit in moinsDe100 %}
					<li class="products__item">
						{% if produit.getTag() is not empty %}
							<div class="products__icons">
								{% for tag in produit.getTag() %}
									{% if tag.getNom() == 'Choix Amazon' %}
										<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
									{% elseif tag.getNom() == 'Top Ventes' %}
										<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
									{% elseif tag.getNom() == 'Promo' %}
										<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}

						<img src={{ produit.getImage() }} alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" class="products__image">

						<h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
						<p class="products__description">{{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}</p>

						<div class="products__pricing">
							{% if produit.getPromo() %}
								<p class="products__promo">-{{ produit.getPromo() }}
									%</p>
							{% endif %}
							<p class="products__price">{{ produit.getPrix() }}
								€</p>
						</div>

						<a href="{{ produit.getLien() }}" class="products__link">
							Voir l'offre
							<i class="ri-amazon-fill products__amazon-logo"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>

		<section class="products-section products-section--2">
			<h2 class="products-section__title products-section--2__title">Jouets à plus de 100€</h2>
			<p class="products-section__description products-section--2__description">
				Explorez notre sélection premium de
				<strong>jouets à plus de 100 euros</strong>, parfaite pour offrir des cadeaux d'exception. Que ce soit des
				<strong>jouets haut de gamme</strong>, des modèles interactifs sophistiqués ou des ensembles complets pour des heures de divertissement, trouvez ici des idées uniques pour des moments inoubliables.
			</p>


			<ul class="products">
				{% for produit in plusDe100 %}
					<li class="products__item">
						<div class="products__icons">
							{% for tag in produit.getTag() %}
								{% if tag.getNom() == 'Choix Amazon' %}
									<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
								{% elseif tag.getNom() == 'Top Ventes' %}
									<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
								{% elseif tag.getNom() == 'Promo' %}
									<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
								{% endif %}
							{% endfor %}
						</div>

						<img src={{ produit.getImage() }} alt="{{ produit.getNom()|length > 50 ? produit.getNom()|slice(0, 47) ~ '...' : produit.getNom() }}" class="products__image">

						<h3 class="products__title">{{ produit.getNom()|split(' ')|slice(0, 5)|join(' ') }}</h3>
						<p class="products__description">{{ produit.getDescription()|slice(0, 150) ~ (produit.getDescription()|length > 150 ? '...' : '') }}</p>

						<div class="products__pricing">
							{% if produit.getPromo() %}
								<p class="products__promo">-{{ produit.getPromo() }}
									%</p>
							{% endif %}
							<p class="products__price">{{ produit.getPrix() }}
								€</p>
						</div>

						<a href="{{ produit.getLien() }}" class="products__link">
							Voir l'offre
							<i class="ri-amazon-fill products__amazon-logo"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>

		<section class="products-section main__header">
			<h2 class="products-section__title" style="text-align: center;">Découvrez d'autres catégories</h2>

			<ul class="categories">
				{% for categorie in categories %}
					<li class="categories__item" style="background-image: url('{{ categorie.getImage() }}');">
						{% if categorie.getSlug() == 'gaming' %}
							<a href="{{ path('categorie_gaming', {slug: categorie.getSlug()}) }}" class="categories__link">
							{% elseif categorie.getSlug() == 'jouets' %}
								<a href="{{ path('categorie_jouets', {slug: categorie.getSlug()}) }}" class="categories__link">
								{% else %}
									<a href="{{ path('categorie_autres', {slug: categorie.getSlug()}) }}" class="categories__link">
									{% endif %}
									<strong>{{ categorie.getNom() }}</strong>
								</a>
							</li>
						{% endfor %}
					</li>
				</ul>
			</section>

			<p class="products__description" style="text-align: center; margin-top: 3vh">Dernière mise à jour :
				{{ formattedDate }}</p>

		</main>

	{% endblock %}
