{% extends 'base.html.twig' %}
{% block head %}
	<meta name="description" content="Top 20 des meilleures LEGO voitures en 2025 : Speed Champions, Technic, City, Icons... Découvrez notre sélection de sets incontournables pour enfants, ados et adultes passionnés de construction." />
{% endblock %}

{% block javascripts %}

	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "WebPage",
		  "name": "Top 20 des meilleures LEGO voitures en 2025",
		  "url": "https://reperehub.com/lego-voitures",
		  "description": "Découvrez notre sélection des meilleures LEGO voitures en 2025 : Speed Champions, Technic, City, Icons et plus encore. Des modèles pour enfants, ados et adultes, avec différents niveaux de construction.",
		  "mainEntity": {
		    "@type": "ItemList",
		    "name": "Top 20 LEGO voitures",
		    "itemListElement": [
		      {
		        "@type": "ListItem",
		        "position": 1,
		        "name": "LEGO Speed Champions Voiture F1 Oracle Red Bull Racing RB20"
		      },
		      {
		        "@type": "ListItem",
		        "position": 2,
		        "name": "LEGO Technic Hypercar Koenigsegg Jesko Absolut Grise"
		      },
		      {
		        "@type": "ListItem",
		        "position": 3,
		        "name": "LEGO City Le Food-Truck de Donuts"
		      },
			  {
		        "@type": "ListItem",
		        "position": 4,
		        "name": "LEGO® Speed Champions 76917 Nissan Skyline GT R R34 2 Fast 2 Furious "
		      },
			  {
		        "@type": "ListItem",
		        "position": 5,
		        "name": "LEGO Icons Williams Racing FW14B et Nigel Mansell"
		      }
		    ]
		  }
		}
	</script>

{% endblock %}

{% block title %}
	Repère Hub – Comparatifs & Bons Plans Jouets et Jeux
{% endblock %}
{% block
stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}"/>
{% endblock %}

{% block body %}

	<main class="main">

		<h1 class="main__title">Les 20 meilleures LEGO voitures en 2025 (Technic, Speed Champions, City…)</h1>


		<section class="section">

			<p class="main__intro-text">
				En 2025,
				<strong>LEGO</strong>
				continue d’élargir sa gamme avec des
				<strong>sets de voitures</strong>
				incroyables adaptés à tous les profils : des modèles faciles à construire pour les enfants, des voitures iconiques pour les collectionneurs et des projets complexes pour les passionnés de mécanique. Dans ce guide, on fait le point sur les
				<strong>meilleures LEGO voitures</strong>
				de l’année, de
				<strong>LEGO Speed Champions</strong>
				à
				<strong>LEGO Technic</strong>, en passant par
				<strong>LEGO City</strong>, les franchises cultes et les modèles collector.
			</p>
		</section>


		<section class="section section--promotions ">
			<h2 class="section__title bottom center">🏎 LEGO Speed Champions : les voitures de course miniatures</h2>

			<p class="section__description jump">
				<strong>Chaque boîte LEGO Speed Champions</strong>
				contient une voiture à construire, souvent accompagnée d’une minifigure de pilote, d’accessoires (comme des casques, des enjoliveurs de rechange ou des drapeaux) et d’éléments pour personnaliser le véhicule.</p>

			<p class="section__description jump">Les
				<strong>LEGO Speed Champions</strong>
				sont idéaux pour :
				<span class="line-break jump">✅
					<strong>les enfants dès 6 ans</strong>
					qui veulent s’amuser à faire des courses</span>
				<span class="line-break">✅ les collectionneurs qui aiment afficher de petites répliques sur une étagère</span>
				<span class="line-break">✅ les fans de franchises comme
					<strong>Fast &amp; Furious</strong>, qui retrouveront la célèbre Nissan Skyline ou la Dodge Charger dans cette gamme.</span>
			</p>

			<p class="section__description jump">👉 Ces LEGO coûtent généralement
				<strong>entre 20 et 40 €</strong>, ce qui en fait un
				<strong>cadeau parfait</strong>
				pour les anniversaires, Noël ou tout simplement pour débuter une collection.</p>


			<ul
				class="products jump">
				<!-- 1 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81A19lSMmcL._AC_SX679_.jpg" alt="LEGO Speed Champions Voiture F1 Oracle Red Bull Racing RB20" class="products__image">

					<h3 class="products__title">LEGO Speed Champions Voiture F1 Oracle Red Bull Racing RB20</h3>
					<p class="products__description">Voiture de Course de Formule 1 pour Adulte - Inclut Une minifigurine Collector de Pilote</p>

					<div class="products__pricing">
						<p class="products__promo">-33%</p>
						<p class="products__price">17.99€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Champions-Voiture-Oracle-Racing/dp/B0DHSFBRPB?crid=FI58SYHMRYVU&dib=eyJ2IjoiMSJ9.5TC0qrm3CJ347rHxCMf7KUOSzgJpAZDudO9q3pxmKyqEFTJ7C5z2d71BtwI0a1EoKf12uaGvmdqKyTVdkZYI4RHWeAC8w40LTCZwmT85CFdoMUenX8orOgyFaO7hboqo8vxbPGGTTH_4r7mSPb2P4w-C60pDuZPMhYMQP9y9gvxznPBvccL9ehgx90gizp8lDXBnAZAQ3Rn4pkVTYoJNrjnANRY3qPtfKGvVzcsFjSvcyACRmVk9shN6cqunGL_q81rr2-xD5N9XziQqLU2Mf-qSC6KgGcuLglfnNy1YKkw.mST3z7-dWDjxSi1g6trn3Qk-_gsPLvUhrjCfa29YEjc&dib_tag=se&keywords=lego%2Bspeed%2Bchampion&qid=1753993099&sprefix=%2Caps%2C99&sr=8-1&th=1&linkCode=ll1&tag=reperehub-21&linkId=b47ccd79ea6f3ae49a900316f010916b&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 2 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/619B2ZFyOcL._AC_SX679_.jpg" alt="LEGO Speed Champions Lamborghini Lambo V12 Vision GT Super Car" class="products__image">

					<h3 class="products__title">LEGO Speed Champions Lamborghini Lambo V12 Vision GT Super Car</h3>
					<p class="products__description">Réplique de Véhicule Jouet - Modèle à Construire</p>

					<div class="products__pricing">
						<p class="products__promo">-23%</p>
						<p class="products__price">20.9€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Speed-Champions-Lamborghini-Vision/dp/B0CWH31PZ6?crid=1NWBZHRMIQ8Z2&dib=eyJ2IjoiMSJ9.5TC0qrm3CJ347rHxCMf7KUOSzgJpAZDudO9q3pxmKyqEFTJ7C5z2d71BtwI0a1EoKf12uaGvmdqKyTVdkZYI4RHWeAC8w40LTCZwmT85CFdoMUenX8orOgyFaO7hboqo8vxbPGGTTH_4r7mSPb2P4w-C60pDuZPMhYMQP9y9gvxznPBvccL9ehgx90gizp8lDXBnAZAQ3Rn4pkVTYoJNrjnANRY3qPtfKGvVzcsFjSvcyACRmVk9shN6cqunGL_q81rr2-xD5N9XziQqLU2Mf-qSC6KgGcuLglfnNy1YKkw.mST3z7-dWDjxSi1g6trn3Qk-_gsPLvUhrjCfa29YEjc&dib_tag=se&keywords=lego+speed+champion&qid=1753996393&sprefix=%2Caps%2C888&sr=8-6&linkCode=ll1&tag=reperehub-21&linkId=23799dc6545fe073afb75501ffe6047f&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 3 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81HX8vt8ZeL._AC_SX679_.jpg" alt="LEGO Speed Champions Supercar Ferrari F40" class="products__image">

					<h3 class="products__title">LEGO Speed Champions Supercar Ferrari F40</h3>
					<p class="products__description">Véhicule Jouet à Construire - Set de Voiture avec Une Minifigurine de Pilote</p>

					<div class="products__pricing">
						<p class="products__promo">-21%</p>
						<p class="products__price">21.22€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Speed-Champions-Supercar-Ferrari/dp/B0CWH1Q8B4?crid=1NWBZHRMIQ8Z2&dib=eyJ2IjoiMSJ9.5TC0qrm3CJ347rHxCMf7KUOSzgJpAZDudO9q3pxmKyqEFTJ7C5z2d71BtwI0a1EoKf12uaGvmdqKyTVdkZYI4RHWeAC8w40LTCZwmT85CFdoMUenX8orOgyFaO7hboqo8vxbPGGTTH_4r7mSPb2P4w-C60pDuZPMhYMQP9y9gvxznPBvccL9ehgx90gizp8lDXBnAZAQ3Rn4pkVTYoJNrjnANRY3qPtfKGvVzcsFjSvcyACRmVk9shN6cqunGL_q81rr2-xD5N9XziQqLU2Mf-qSC6KgGcuLglfnNy1YKkw.mST3z7-dWDjxSi1g6trn3Qk-_gsPLvUhrjCfa29YEjc&dib_tag=se&keywords=lego+speed+champion&qid=1753996393&sprefix=%2Caps%2C888&sr=8-8&linkCode=ll1&tag=reperehub-21&linkId=93b2212a121319395d2bfc99a4af4030&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 4 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81xcsiYWqjL._AC_SX679_.jpg" alt="LEGO Speed Champions Voiture de Course Audi S1 e-Tron Quattro" class="products__image">

					<h3 class="products__title">LEGO Speed Champions Voiture de Course Audi S1 e-Tron Quattro</h3>
					<p class="products__description">Véhicule Jouet, Set de Construction pour Enfants, Idée Cadeau pour Garçons et Filles</p>

					<div class="products__pricing">
						<p class="products__promo">-27%</p>
						<p class="products__price">19.78€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-TBD-SC-3-2024/dp/B0CFVZ1LCY?crid=1NWBZHRMIQ8Z2&dib=eyJ2IjoiMSJ9.5TC0qrm3CJ347rHxCMf7KUOSzgJpAZDudO9q3pxmKyqEFTJ7C5z2d71BtwI0a1EoKf12uaGvmdqKyTVdkZYI4RHWeAC8w40LTCZwmT85CFdoMUenX8orOgyFaO7hboqo8vxbPGGTTH_4r7mSPb2P4w-C60pDuZPMhYMQP9y9gvxznPBvccL9ehgx90gizp8lDXBnAZAQ3Rn4pkVTYoJNrjnANRY3qPtfKGvVzcsFjSvcyACRmVk9shN6cqunGL_q81rr2-xD5N9XziQqLU2Mf-qSC6KgGcuLglfnNy1YKkw.mST3z7-dWDjxSi1g6trn3Qk-_gsPLvUhrjCfa29YEjc&dib_tag=se&keywords=lego+speed+champion&qid=1753996393&sprefix=%2Caps%2C888&sr=8-11&linkCode=ll1&tag=reperehub-21&linkId=6d56f4c520fb2542db261c7c792addee&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

			</ul>
		</section>


		<section class="section section--top-ventes">
			<h2 class="section__title bottom center">🔧 LEGO Technic : les voitures pour passionnés de mécanique</h2>

			<p class="section__description jump">Pour ceux qui veulent aller plus loin, la gamme
				<strong>LEGO Technic</strong>
				propose des voitures complexes avec des
				<strong>mécanismes fonctionnels</strong>. Ces modèles sont bien plus qu’un simple jouet : ce sont de véritables miniatures techniques qui permettent de découvrir comment fonctionne une voiture.</p>

			<p class="section__description jump">Chaque set LEGO Technic inclut souvent :
				<span class="line-break jump">- une
					<strong>direction fonctionnelle</strong>,</span>
				<span class="line-break">- des
					<strong>suspensions réalistes</strong>,</span>
				<span class="line-break">- un
					<strong>moteur avec pistons mobiles</strong>,</span>
				<span class="line-break">- et parfois même une
					<strong>boîte de vitesses</strong>
					ou des fonctions télécommandées via l’application
					<strong>LEGO CONTROL+</strong>.</span>
			</p>

			<p class="section__description jump">En 2025, les LEGO Technic proposent des modèles mythiques comme des
				<strong>supercars</strong>
				(Lamborghini, Bugatti, Porsche), des
				<strong>muscle cars américaines</strong>
				ou encore des
				<strong>voitures de compétition</strong>.</p>

			<p class="section__description jump">Les LEGO Technic sont :
				<span class="line-break jump">✅ parfaits pour
					<strong>les adolescents et adultes</strong>
					qui veulent un défi de construction</span>
				<span class="line-break">✅ idéaux pour les
					<strong>passionnés d’ingénierie</strong>
				</span>
				<span class="line-break">✅ un excellent projet à offrir à quelqu’un qui aime assembler des
					<strong>modèles détaillés</strong>.</span>
			</p>

			<p class="section__description jump">💰
				<strong>Prix</strong>
				:
				<strong>entre 50 €</strong>
				pour des modèles moyens et
				<strong>plusieurs centaines d’euros</strong>
				pour les plus grands sets.</p>

			<ul
				class="products jump">
				<!-- 1 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81ZdlZs1lBL._AC_SX679_.jpg" alt="LEGO Technic Hypercar Koenigsegg Jesko Absolut Grise" class="products__image">

					<h3 class="products__title">LEGO Technic Hypercar Koenigsegg Jesko Absolut Grise</h3>
					<p class="products__description">Set de Construction - Véhicule pour Enfants - Maquette à Construire</p>

					<div class="products__pricing">
						<p class="products__promo">-30%</p>
						<p class="products__price">36.99€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Technic-Hypercar-Koenigsegg-Absolut/dp/B0CWGZTRKJ?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=36A9VFMMTI6MP&dib=eyJ2IjoiMSJ9.g2KIh_diwrZAhLEgB1lm1ff4KcdDOLwkyOJqxDaoQU5hu6q74_nv1dTxOT4Ny4IGMjnaP1St7GLPohfU_PYIhN8ENanTKdtBOQCDcJYuD6U6aUiKxJaVOa1s9yNmWHPRHpuPcdCUU9gomBOD2mLOKWDASt7oN8Y1jMU6UHsLrRJmhDHpancy3TD_vJx-LgpOh7pYL97Vd3AyU90o_oIBmY7XjuDMF406GUrnLM3acQSuPNR0TiQnomxwHghNfGNBrJD9-lGNY7KBa2jvCblPb9sc7IcmXHXLQ4zwKdNxhYo.bv7fRnP8qcVb2EG4ZAUudG-o5v71VB5sF5t6Jm_0qAE&dib_tag=se&keywords=lego+technic&qid=1753997284&sprefix=lego+technic%2Caps%2C108&sr=8-6&linkCode=ll1&tag=reperehub-21&linkId=7fb7c1ad2618e5f53b4f422b43e3981d&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 2 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81l9DNp9IXL._AC_SX679_.jpg" alt="LEGO Technic Mercedes-AMG F1 W14 E Performance" class="products__image">

					<h3 class="products__title">LEGO Technic Mercedes-AMG F1 W14 E Performance</h3>
					<p class="products__description">Modèle à Rétrofriction, Décoration pour Chambre, Idée Cadeau d'anniversaire</p>

					<div class="products__pricing">
						<p class="products__promo">-23%</p>
						<p class="products__price">20.88€</p>
					</div>

					<a href="https://www.amazon.fr/Mercedes-AMG-Performance-R%C3%A9trofriction-danniversaire-42165/dp/B0CFVYZRN1?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=36A9VFMMTI6MP&dib=eyJ2IjoiMSJ9.g2KIh_diwrZAhLEgB1lm1ff4KcdDOLwkyOJqxDaoQU5hu6q74_nv1dTxOT4Ny4IGMjnaP1St7GLPohfU_PYIhN8ENanTKdtBOQCDcJYuD6U6aUiKxJaVOa1s9yNmWHPRHpuPcdCUU9gomBOD2mLOKWDASt7oN8Y1jMU6UHsLrRJmhDHpancy3TD_vJx-LgpOh7pYL97Vd3AyU90o_oIBmY7XjuDMF406GUrnLM3acQSuPNR0TiQnomxwHghNfGNBrJD9-lGNY7KBa2jvCblPb9sc7IcmXHXLQ4zwKdNxhYo.bv7fRnP8qcVb2EG4ZAUudG-o5v71VB5sF5t6Jm_0qAE&dib_tag=se&keywords=lego%2Btechnic&qid=1753997284&sprefix=lego%2Btechnic%2Caps%2C108&sr=8-7&th=1&linkCode=ll1&tag=reperehub-21&linkId=bfb52510296b7cf76098302966f8fe27&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 3 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81h7gx9xL-L._AC_SX679_.jpg" alt="LEGO Technic Fast and Furious Toyota Supra MK4" class="products__image">

					<h3 class="products__title">LEGO Technic Fast and Furious Toyota Supra MK4</h3>
					<p class="products__description">Jeu de Construction avec Voiture de Course – Inclut Un Moteur 6 cylindres et Un Capot ouvrant</p>

					<div class="products__pricing">
						<p class="products__promo">-32%</p>
						<p class="products__price">40.99€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Technic-Furious-Toyota-Supra/dp/B0DHSCKXP2?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=36A9VFMMTI6MP&dib=eyJ2IjoiMSJ9.g2KIh_diwrZAhLEgB1lm1ff4KcdDOLwkyOJqxDaoQU5hu6q74_nv1dTxOT4Ny4IGMjnaP1St7GLPohfU_PYIhN8ENanTKdtBOQCDcJYuD6U6aUiKxJaVOa1s9yNmWHPRHpuPcdCUU9gomBOD2mLOKWDASt7oN8Y1jMU6UHsLrRJmhDHpancy3TD_vJx-LgpOh7pYL97Vd3AyU90o_oIBmY7XjuDMF406GUrnLM3acQSuPNR0TiQnomxwHghNfGNBrJD9-lGNY7KBa2jvCblPb9sc7IcmXHXLQ4zwKdNxhYo.bv7fRnP8qcVb2EG4ZAUudG-o5v71VB5sF5t6Jm_0qAE&dib_tag=se&keywords=lego+technic&qid=1753997284&sprefix=lego+technic%2Caps%2C108&sr=8-17&linkCode=ll1&tag=reperehub-21&linkId=4ec87d3090a90bb5e8f2a7018c70631b&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 4 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81NbI0L0CYL._AC_SX679_.jpg" alt="LEGO Technic Ferrari FXX K" class="products__image">

					<h3 class="products__title">LEGO Technic Ferrari FXX K</h3>
					<p class="products__description">Jouet Voiture de Course - Maquette de Construction avec Moteur V12, Différentiel & Pistons Mobiles</p>

					<div class="products__pricing">
						<p class="products__promo">-27%</p>
						<p class="products__price">19.78€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Technic-Ferrari-FXX-Construction/dp/B0DWDRX69Q?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=36A9VFMMTI6MP&dib=eyJ2IjoiMSJ9.g2KIh_diwrZAhLEgB1lm1ff4KcdDOLwkyOJqxDaoQU5hu6q74_nv1dTxOT4Ny4IGMjnaP1St7GLPohfU_PYIhN8ENanTKdtBOQCDcJYuD6U6aUiKxJaVOa1s9yNmWHPRHpuPcdCUU9gomBOD2mLOKWDASt7oN8Y1jMU6UHsLrRJmhDHpancy3TD_vJx-LgpOh7pYL97Vd3AyU90o_oIBmY7XjuDMF406GUrnLM3acQSuPNR0TiQnomxwHghNfGNBrJD9-lGNY7KBa2jvCblPb9sc7IcmXHXLQ4zwKdNxhYo.bv7fRnP8qcVb2EG4ZAUudG-o5v71VB5sF5t6Jm_0qAE&dib_tag=se&keywords=lego+technic&qid=1753997284&sprefix=lego+technic%2Caps%2C108&sr=8-22&linkCode=ll1&tag=reperehub-21&linkId=86448545c5539e37d89d84fc9468b6e1&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

			</ul>
		</section>


		<section class="section section--promotions">
			<h2 class="section__title bottom center">🚔 LEGO City : les voitures ludiques pour les enfants</h2>

			<p class="section__description jump">Avec
				<strong>LEGO City</strong>, on entre dans le cœur de l’univers LEGO pour enfants. Ces sets sont
				<strong>simples</strong>,
				<strong>colorés</strong>
				et conçus pour être joués immédiatement après la construction.</p>

			<p class="section__description jump">Dans cette catégorie de LEGO voitures, on trouve :
				<span class="line-break jump">- des
					<strong>voitures de police</strong>,</span>
				<span class="line-break">- des
					<strong>voitures de pompiers</strong>,</span>
				<span class="line-break">- des
					<strong>voitures de course</strong>,</span>
				<span class="line-break">- et même des
					<strong>garages de tuning</strong>
					ou des dépanneuses.</span>
			</p>

			<p class="section__description jump">Ces sets sont parfaits pour les
				<strong>enfants de 4 à 10 ans</strong>. La construction est rapide, les pièces sont faciles à manipuler, et chaque boîte offre une multitude de scénarios de jeu : poursuites, interventions des pompiers, compétitions…</p>

			<p class="section__description jump">💰
				<strong>Prix</strong>
				:
				<strong>très abordables</strong>, de
				<strong>10 €</strong>
				pour une voiture simple à
				<strong>50 €</strong>
				pour des sets plus complets.</p>

			<ul
				class="products jump">
				<!-- 1 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81GoBx506-L._AC_SX679_.jpg" alt="LEGO City Le Food-Truck de Donuts" class="products__image">

					<h3 class="products__title">LEGO City Le Food-Truck de Donuts</h3>
					<p class="products__description">Véhicule Mobile pour garçons et Filles dès 5 Ans avec Machine à café et Caisse enregistreuse</p>

					<div class="products__pricing">
						<p class="products__promo">-40%</p>
						<p class="products__price">11.92€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-City-Food-Truck-Donuts-Enregistreuse/dp/B0DHSC99W6?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=37TW5L78O1JKY&dib=eyJ2IjoiMSJ9.5TC0qrm3CJ347rHxCMf7KVn__ln0MLy7_3OmvzmhKmXJu_5XIJv6jz3RX2mh9Gm1uQJ26p2y_-wIehvPNBuseCKP9pk0YgpLj14rcc24X0eE2igo9nHJQ4bUoW8T3vC_KeItPUpTWaP_fzw1zdo-FPvffHTzzF5G4RxLP44hYvd-CQmMvh7woo4Wk_0XN08T_ysPGNgmWqooQ1-AodnOCyK-aCx7jJVhBLoVD3E73PbOWUXq7gql5ENNLF96Fi_4QVU29riTBSy-HTU9sbz6R6i4Ndq2EvaiNk81vWECKIU.0wztQ_eoymWXaomsrvT-NboWQEGd1yb0NGEadNAdmQE&dib_tag=se&keywords=lego+city&qid=1753997934&sprefix=lego+cit%2Caps%2C128&sr=8-7&linkCode=ll1&tag=reperehub-21&linkId=f307c19802d885a2abb596d83d06e87a&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 2 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81TfTdySNeL._AC_SX679_.jpg" alt="LEGO City La Voiture de Course et Le Camion de Transport de Voitures" class="products__image">

					<h3 class="products__title">LEGO City La Voiture de Course et Le Camion de Transport de Voitures</h3>
					<p class="products__description">Véhicule de Compétition, Minifigurines de Pilote et Chauffeur de Camion</p>

					<div class="products__pricing">
						<p class="products__promo">-36%</p>
						<p class="products__price">19.13€</p>
					</div>

					<a href="https://www.amazon.fr/Transport-Construction-Comp%C3%A9tition-Minifigurines-60406/dp/B0CFVYRZ27?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=37TW5L78O1JKY&dib=eyJ2IjoiMSJ9.5TC0qrm3CJ347rHxCMf7KVn__ln0MLy7_3OmvzmhKmXJu_5XIJv6jz3RX2mh9Gm1uQJ26p2y_-wIehvPNBuseCKP9pk0YgpLj14rcc24X0eE2igo9nHJQ4bUoW8T3vC_KeItPUpTWaP_fzw1zdo-FPvffHTzzF5G4RxLP44hYvd-CQmMvh7woo4Wk_0XN08T_ysPGNgmWqooQ1-AodnOCyK-aCx7jJVhBLoVD3E73PbOWUXq7gql5ENNLF96Fi_4QVU29riTBSy-HTU9sbz6R6i4Ndq2EvaiNk81vWECKIU.0wztQ_eoymWXaomsrvT-NboWQEGd1yb0NGEadNAdmQE&dib_tag=se&keywords=lego%2Bcity&qid=1753997934&sprefix=lego%2Bcit%2Caps%2C128&sr=8-11&th=1&linkCode=ll1&tag=reperehub-21&linkId=5190f9e634ea2e9484548e42cc56cbf4&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 3 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81VeTxiV8HL._AC_SX679_.jpg" alt="LEGO City La Voiture de Police 60312" class="products__image">

					<h3 class="products__title">LEGO City La Voiture de Police 60312</h3>
					<p class="products__description">Inclut Une minifigurine de Policier avec Une Lampe de Poche et Un képi</p>

					<div class="products__pricing">
						<p class="products__promo">-7%</p>
						<p class="products__price">9.34€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-60312-Minifigure-Officier-Aventures/dp/B09BNVCL8N?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=37TW5L78O1JKY&dib=eyJ2IjoiMSJ9.5TC0qrm3CJ347rHxCMf7KVn__ln0MLy7_3OmvzmhKmXJu_5XIJv6jz3RX2mh9Gm1uQJ26p2y_-wIehvPNBuseCKP9pk0YgpLj14rcc24X0eE2igo9nHJQ4bUoW8T3vC_KeItPUpTWaP_fzw1zdo-FPvffHTzzF5G4RxLP44hYvd-CQmMvh7woo4Wk_0XN08T_ysPGNgmWqooQ1-AodnOCyK-aCx7jJVhBLoVD3E73PbOWUXq7gql5ENNLF96Fi_4QVU29riTBSy-HTU9sbz6R6i4Ndq2EvaiNk81vWECKIU.0wztQ_eoymWXaomsrvT-NboWQEGd1yb0NGEadNAdmQE&dib_tag=se&keywords=lego%2Bcity&qid=1753997934&sprefix=lego%2Bcit%2Caps%2C128&sr=8-13&th=1&linkCode=ll1&tag=reperehub-21&linkId=2e8081ecef3ffeb23c26f32406de7abc&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 4 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/816ARzT1Z7L._AC_SX679_.jpg" alt="LEGO City Le Camion 4x4 Tout-Terrain" class="products__image">

					<h3 class="products__title">LEGO City Le Camion 4x4 Tout-Terrain</h3>
					<p class="products__description">Jeu de Construction pour garçons et Filles dès 6 Ans</p>

					<div class="products__pricing">
						<p class="products__promo">-23%</p>
						<p class="products__price">15.47€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-City-Camion-Tout-Terrain-danniversaire/dp/B0DHSFQWFC?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=37TW5L78O1JKY&dib=eyJ2IjoiMSJ9.5TC0qrm3CJ347rHxCMf7KVn__ln0MLy7_3OmvzmhKmXJu_5XIJv6jz3RX2mh9Gm1uQJ26p2y_-wIehvPNBuseCKP9pk0YgpLj14rcc24X0eE2igo9nHJQ4bUoW8T3vC_KeItPUpTWaP_fzw1zdo-FPvffHTzzF5G4RxLP44hYvd-CQmMvh7woo4Wk_0XN08T_ysPGNgmWqooQ1-AodnOCyK-aCx7jJVhBLoVD3E73PbOWUXq7gql5ENNLF96Fi_4QVU29riTBSy-HTU9sbz6R6i4Ndq2EvaiNk81vWECKIU.0wztQ_eoymWXaomsrvT-NboWQEGd1yb0NGEadNAdmQE&dib_tag=se&keywords=lego+city&qid=1753997934&sprefix=lego+cit%2Caps%2C128&sr=8-18&linkCode=ll1&tag=reperehub-21&linkId=0351d92dc127f74a5a7acb3e9c395555&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

			</ul>
		</section>


		<section class="section section--top-ventes">
			<h2 class="section__title center bottom">🎬 LEGO Franchises : les voitures de films et d’univers cultes</h2>

			<p class="section__description jump">
				<strong>LEGO collabore avec les plus grandes franchises</strong>
				pour proposer des voitures mythiques issues de films, de séries et de jeux vidéo.</p>

			<p class="section__description jump">On retrouve des licences telles que
				<strong>Fast &amp; Furious</strong>,
				<strong>Marvel</strong>,
				<strong>Harry Potter</strong>,
				<strong>Batman</strong>
				et
				<strong>Ninjago</strong>.</p>

			<p class="section__description jump">Ces LEGO plaisent à :
				<span class="line-break jump">✅ les
					<strong>fans de pop culture</strong>
				</span>
				<span class="line-break">✅ les collectionneurs qui veulent recréer les
					<strong>véhicules cultes</strong>
					de leurs héros préférés.</span>
			</p>

			<p class="section__description jump">💰
				<strong>Prix</strong>
				: varie beaucoup selon le modèle (<strong>de 30 € à plus de 150 €</strong>).</p>


			<ul
				class="products jump">
				<!-- 1 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/814jkzAURzL._AC_SX679_.jpg" alt="LEGO® Speed Champions 76917 Nissan Skyline GT R R34 2 Fast 2 Furious " class="products__image">

					<h3 class="products__title">LEGO® Speed Champions 76917 Nissan Skyline GT R R34 2 Fast 2 Furious
					</h3>
					<p class="products__description">LEGO® Speed Champions 76917 Nissan Skyline GT R R34 2 Fast 2 Furious
					</p>

					<div class="products__pricing">
						<p class="products__promo">-12%</p>
						<p class="products__price">21.99€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-76917-tdb-Speed-Champions-IP-4-2023/dp/B0BBRXC9HN?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2LTE325FP0KRW&dib=eyJ2IjoiMSJ9.CGildGgAJeSLEKO7oHLy4pHZNjzRq-Cyn6IR_B8Abqv1D5hgeh2uyia0AUTTUHM1C9R2mnvl94R4ouMhGlFvBHx46yPvq1khdE9Y0Ehvjch2hrFzanmpe23cSjZVZHbkRwzek4am-hSr5ire0wozkLIdPlG0S0iQlLBjLz090ZhAyWydsZFNamAiN9urcGW8_vFzbXPNDZy6IdY1Sr2kfN82vYKqv_LwPeEdpMXOWBct-dZXH8sEzHRSmeBKYlWQyqncwsxm8vhR7lCw9yaCZ5F7_8OcAJo2adOv-zQI7CE.LnoujYkCmxi0dOojgo8pOI50pwaDjwXEId3f1s5_--g&dib_tag=se&keywords=lego%2Bvoiture&qid=1753998391&sprefix=lego%2Bvoiture%2Caps%2C104&sr=8-4&th=1&linkCode=ll1&tag=reperehub-21&linkId=db40768c362e1668c583f71f3e0e9f1e&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 2 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81Kypm2frQL._AC_SX679_.jpg" alt="LEGO Harry Potter La Ford Anglia Volante" class="products__image">

					<h3 class="products__title">LEGO Harry Potter La Ford Anglia Volante</h3>
					<p class="products__description">Set Fantastique pour Enfants, 2 Minifigurines, Voiture à Construire, Jouet d’Aventure</p>

					<div class="products__pricing">
						<p class="products__promo">-13%</p>
						<p class="products__price">12.99€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-TBD-HP-2024-1/dp/B0CFW21MG7?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2LTE325FP0KRW&dib=eyJ2IjoiMSJ9.CGildGgAJeSLEKO7oHLy4pHZNjzRq-Cyn6IR_B8Abqv1D5hgeh2uyia0AUTTUHM1C9R2mnvl94R4ouMhGlFvBHx46yPvq1khdE9Y0Ehvjch2hrFzanmpe23cSjZVZHbkRwzek4am-hSr5ire0wozkLIdPlG0S0iQlLBjLz090ZhAyWydsZFNamAiN9urcGW8_vFzbXPNDZy6IdY1Sr2kfN82vYKqv_LwPeEdpMXOWBct-dZXH8sEzHRSmeBKYlWQyqncwsxm8vhR7lCw9yaCZ5F7_8OcAJo2adOv-zQI7CE.LnoujYkCmxi0dOojgo8pOI50pwaDjwXEId3f1s5_--g&dib_tag=se&keywords=lego+voiture&qid=1753998391&sprefix=lego+voiture%2Caps%2C104&sr=8-59&linkCode=ll1&tag=reperehub-21&linkId=0c4c4636483b0794cef576c7ffe8114e&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 3 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81agmKtnzqL._AC_SX679_.jpg" alt="LEGO Ninjago La Voiture de Course à rétrofriction de Lloyd" class="products__image">

					<h3 class="products__title">LEGO Ninjago La Voiture de Course à rétrofriction de Lloyd</h3>
					<p class="products__description">Véhicule de Sport à Construire - Inclut 2 minifigurines de Lloyd et d'un Guerrier draconique</p>

					<div class="products__pricing">
						<p class="products__promo">-25%</p>
						<p class="products__price">18.76€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Ninjago-Voiture-Course-r%C3%A9trofriction/dp/B0DHSFRG9D?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2B0S4X0F1F7K7&dib=eyJ2IjoiMSJ9.r7WBe0aesQy1Xk0DE1_d9OfECiuUcHYNrmm4VWeV0o_zrLhioOy-NT31G5PrvvDip0EltCGjExjXo08THiNSu3WBzzFSXc9w-wO09RPTCovDFkme9pxp-7IwH1vTQzg2zpKezVHiyh9lfeVo_YI9eXeWWQ3Lk9Ds9-y4S0NoN34mzd1Y-TmS7Bit9cSFtpyG5NCk5449DDrfHvqjXs-6CvBp1-LpSCDPKGXoIZk2FvBSVVmV5suHUT6E7rYTOf9zHNPS_fcZAVPvIWLs43gIb3G3DCDnUSw9Kj1Sut0yCSs.1xIU3sn1kySzFFWLtg83t7tnDFwloi8XhjNKjump1b0&dib_tag=se&keywords=voiture+ninjago&qid=1753998685&sprefix=voiture+ninjago%2Caps%2C98&sr=8-1&linkCode=ll1&tag=reperehub-21&linkId=6d51a7cfb78a88b50fb110503f1d7539&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 4 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-heart-fill products__icon products__icon--amazon-choice"></i>
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/6131iiHO+VL._AC_SX679_.jpg" alt="LEGO | Marvel Spider-Man Contre Le Bolide de Venom" class="products__image">

					<h3 class="products__title">LEGO | Marvel Spider-Man Contre Le Bolide de Venom</h3>
					<p class="products__description">Voiture à Construire avec 3 Minifigurines de Super Héros</p>

					<div class="products__pricing">
						<p class="products__promo">-27%</p>
						<p class="products__price">19.78€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Marvel-Spider-Man-Contre-Bolide/dp/B0DHSC1BF8?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=5D10GTVF5ZCX&dib=eyJ2IjoiMSJ9.W_Cg8j42PM5UGwqHtHR3nhtXW3JuXxmrqNTfeqj28rcCkzEgzdLSz49GjbTJCAWCQ45sLx8WBnzYqBYoOqC4tb9igWHAfQaMqhgJ76cS2uUsQt1DuCYD-G4OcF8U3vwCASDbaQw0dXSa-NcuDazCH4VRerbTeZn1LhUEPOWzG3V3PIca25d2RvDVarKLEm4MY0TzMt4kwYmMjyUeMUgl0GtyXwSnnjBhYN6pWY8YzDF6LAYEumDkEDh-nvfG-enhjG-MZvZ6Iu0Jh1Ky3JgrrEHtmo1IJ_AQ4jgV7fV3G4Q.EekUz2RNYLBdZf3pXRRzhTV8uMlbEfP1m6d6smBbYA4&dib_tag=se&keywords=lego+voiture+marvel&qid=1753998538&sprefix=lego+voiture+marvel%2Caps%2C91&sr=8-1&linkCode=ll1&tag=reperehub-21&linkId=5428eb93546b8dc97e334a562899ed03&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

			</ul>
		</section>


		<section class="section section--promotions">
			<h2 class="section__title center bottom">🏆 LEGO Icons : les voitures collector pour adultes</h2>

			<p class="section__description jump">Enfin, la gamme
				<strong>LEGO Icons</strong>
				– reconnaissable à ses boîtes noires élégantes – propose des
				<strong>modèles haut de gamme</strong>
				destinés aux adultes collectionneurs.</p>

			<p class="section__description jump">Ces LEGO sont de véritables
				<strong>pièces d’exposition</strong>
				: voitures classiques, modèles vintage, véhicules de légende… Avec plusieurs milliers de pièces, ils demandent plusieurs heures (voire plusieurs jours) de construction.</p>

			<p class="section__description jump">On retrouve des sets comme la
				<strong>Porsche 911</strong>, la
				<strong>Chevrolet Camaro Z28</strong>, la
				<strong>Ford Mustang 1967</strong>
				ou encore le
				<strong>Land Rover Defender Classic</strong>.</p>

			<p class="section__description jump">Ces sets sont :
				<span class="line-break jump">✅ parfaits comme
					<strong>projet de construction longue durée</strong>
				</span>
				<span class="line-break">✅ idéaux comme
					<strong>cadeau premium</strong>
				</span>
				<span class="line-break">✅ des
					<strong>objets de décoration impressionnants</strong>
					une fois terminés.</span>
			</p>

			<p class="section__description jump">💰
				<strong>Prix</strong>
				: généralement
				<strong>entre 120 € et 300 €</strong>.</p>

			<ul
				class="products jump">
				<!-- 1 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81XdIxYpYIL._AC_SX679_.jpg" alt="LEGO Icons Williams Racing FW14B et Nigel Mansell" class="products__image">

					<h3 class="products__title">LEGO Icons Williams Racing FW14B et Nigel Mansell</h3>
					<p class="products__description">Maquette de Voiture de F1 - Inclut minifigurine Collector de Pilote avec trophée et Casque</p>

					<div class="products__pricing">
						<p class="products__promo">-22%</p>
						<p class="products__price">62.13€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-10353-Icons/dp/B01NAEP1AX?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&content-id=amzn1.sym.5ce25201-a151-45aa-993b-827f386bb5ae%3Aamzn1.sym.5ce25201-a151-45aa-993b-827f386bb5ae&crid=3GYDWP1PPC6YN&cv_ct_cx=lego+icons&keywords=lego+icons&pd_rd_i=B01NAEP1AX&pd_rd_r=28511880-9289-4a29-83ae-4c8c460eb190&pd_rd_w=2qziT&pd_rd_wg=dlJJp&pf_rd_p=5ce25201-a151-45aa-993b-827f386bb5ae&pf_rd_r=KX7Y4SKJ2DR7M9XWZH5H&qid=1753999016&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=lego+icons%2Caps%2C104&sr=1-2-0723f66e-ff99-43ba-a202-1be1089a8603&ufe=app_do%3Aamzn1.fos.49fccda8-a887-4188-817b-b9a64bb30e43&linkCode=ll1&tag=reperehub-21&linkId=07cd4ae689e82526d88ef6a1af984a4b&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 2 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81sVqRcJkwL._AC_SX679_.jpg" alt="LEGO Mario Kart - Mario Et Kart Standard" class="products__image">

					<h3 class="products__title">LEGO Mario Kart - Mario Et Kart Standard</h3>
					<p class="products__description">Figurine Collector De Personnage Nintendo - Maquette De Voiture à Construire pour Fans De Jeux Vidéo</p>

					<div class="products__pricing">
						<p class="products__promo">-12%</p>
						<p class="products__price">149.97€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Mario-Kart-Personnage-Construire/dp/B0DWM6NM4Y?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3GYDWP1PPC6YN&dib=eyJ2IjoiMSJ9.Es4S9p8oiqxvSseUpe4YQhZK3iJcqqkdt4UliykEL18MLAH8X48REO4bTA63zdcDXfMMPxjQp4WG19yEnAn5sNHfmz-Zf6UZsPmX_PgKL1-jwFSis8T-kv3c3kQHSlAuexRHTzPhsNzlY8ebSkTMebV1ZkHixXsF6qMW-XkKDbw8D7nMR8TbYWe7fEhq041cLIiJ7ew9KePKortsHyw4tfm65ONw_ftlkamKvmXcT9UC4eQETct3LhfbT9nT095FyRfNnTneGC7nrRcMT8cShAZL7UKMFTfFOhzscca-N1U.7RABbO9pcvHHfRe8LyDfCOa81Bu-nQI7gj3YMkTVYJg&dib_tag=se&keywords=lego+icons&qid=1753999016&sprefix=lego+icons%2Caps%2C104&sr=8-32&ufe=app_do%3Aamzn1.fos.49fccda8-a887-4188-817b-b9a64bb30e43&linkCode=ll1&tag=reperehub-21&linkId=b3f7705cf00d257712d7e28e80d5656f&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 3 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81MXX1cLC1L._AC_SX679_.jpg" alt="LEGO 10295 Icons Porsche 911" class="products__image">

					<h3 class="products__title">LEGO 10295 Icons Porsche 911</h3>
					<p class="products__description">Voiture de Collection Jeu de Construction Adultes, Modèle 2en1 Turbo Targa à Collectionner</p>

					<div class="products__pricing">
						<p class="products__promo">-21%</p>
						<p class="products__price">21.22€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-Creator-Expert-Porsche-10295/dp/B08XQYXPLC?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3GYDWP1PPC6YN&dib=eyJ2IjoiMSJ9.Es4S9p8oiqxvSseUpe4YQhZK3iJcqqkdt4UliykEL18MLAH8X48REO4bTA63zdcDXfMMPxjQp4WG19yEnAn5sNHfmz-Zf6UZsPmX_PgKL1-jwFSis8T-kv3c3kQHSlAuexRHTzPhsNzlY8ebSkTMebV1ZkHixXsF6qMW-XkKDbw8D7nMR8TbYWe7fEhq041cLIiJ7ew9KePKortsHyw4tfm65ONw_ftlkamKvmXcT9UC4eQETct3LhfbT9nT095FyRfNnTneGC7nrRcMT8cShAZL7UKMFTfFOhzscca-N1U.7RABbO9pcvHHfRe8LyDfCOa81Bu-nQI7gj3YMkTVYJg&dib_tag=se&keywords=lego+icons&qid=1753999016&sprefix=lego+icons%2Caps%2C104&sr=8-38&linkCode=ll1&tag=reperehub-21&linkId=6ccd29c6186d4663249c24c202d44b4b&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

				<!-- 4 -->
				<li class="products__item">
					<div class="products__icons">
						<i class="ri-medal-fill products__icon products__icon--top-sales"></i>
						<i class="ri-price-tag-3-fill products__icon products__icon--promo"></i>
					</div>

					<img src="https://m.media-amazon.com/images/I/81z4YTxlB5L._AC_SX679_.jpg" alt="LEGO 10337 Lamborghini Countach 5000 quattrovalvole " class="products__image">

					<h3 class="products__title">LEGO 10337 Lamborghini Countach 5000 quattrovalvole
					</h3>
					<p class="products__description">LEGO 10337 Lamborghini Countach 5000 quattrovalvole
					</p>

					<div class="products__pricing">
						<p class="products__promo">-27%</p>
						<p class="products__price">19.78€</p>
					</div>

					<a href="https://www.amazon.fr/LEGO-10337-Lamborghini-Countach-quattrovalvole/dp/B0D8VGT3MV?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3GYDWP1PPC6YN&dib=eyJ2IjoiMSJ9.Es4S9p8oiqxvSseUpe4YQhZK3iJcqqkdt4UliykEL18MLAH8X48REO4bTA63zdcDXfMMPxjQp4WG19yEnAn5sNHfmz-Zf6UZsPmX_PgKL1-jwFSis8T-kv3c3kQHSlAuexRHTzPhsNzlY8ebSkTMebV1ZkHixXsF6qMW-XkKDbw8D7nMR8TbYWe7fEhq041cLIiJ7ew9KePKortsHyw4tfm65ONw_ftlkamKvmXcT9UC4eQETct3LhfbT9nT095FyRfNnTneGC7nrRcMT8cShAZL7UKMFTfFOhzscca-N1U.7RABbO9pcvHHfRe8LyDfCOa81Bu-nQI7gj3YMkTVYJg&dib_tag=se&keywords=lego+icons&qid=1753999016&sprefix=lego+icons%2Caps%2C104&sr=8-51&linkCode=ll1&tag=reperehub-21&linkId=14d842641f888b9fc82f7563ab2c732f&language=fr_FR&ref_=as_li_ss_tl" class="products__link">
						Voir l'offre
						<i class="ri-amazon-fill products__amazon-logo"></i>
					</a>
				</li>

			</ul>

		</section>


		<section class="section section--top-ventes main__header">
			<h2 class="section__title" style="text-align: center;">Découvrez d'autres catégories</h2>

			<ul class="categories">
				{% for categorie in categories %}
					<li class="categories__item" style="background-image: url('{{ categorie.getImage() }}');">
						{% if categorie.getSlug() == 'gaming' %}
							<a href="{{ path('categorie_gaming', {slug: categorie.getSlug()}) }}" class="categories__link">
							{% elseif categorie.getSlug() == 'jouets' %}
								<a href="{{ path('categorie_jouets', {slug: categorie.getSlug()}) }}" class="categories__link">
								{% else %}
									<a href="{{ path('categorie_autres', {slug: categorie.getSlug()}) }}" class="categories__link">
									{% endif %}
									<strong>{{ categorie.getNom() }}</strong>
								</a>
							</li>
						{% endfor %}
					</li>
				</ul>
			</section>

			<p class="main__intro-text" style="text-align: center;">Dernière mise à jour : 01 août 2025</p>

		</main>
	{% endblock %}
